/* classi comuni inizio */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  width: 1200px;
  margin:0 auto;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.floatl{
  float: left;
}
/* fine classi comuni */

/* classi elementi pagina inizio  */

/* classi header e nav */
header{
  width: 100%;
  height: 600px;
  background-color: blue;
  position: relative;
}

.headerbackground{
  height: 400px;
  width: 800px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.headerbackground img{
  width: 100%;
  height: 100%;
}

.containernav{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 100px;
  background-color: grey;
}

.logoimg{
  width: 10%;
  height: 100%;
  background-color: red;
  position: relative;
}

.contenitorelogo{
  width: 100%;
  height: 38px;
  position: absolute;
  top:46%;
  left:50%;
  transform: translate(-50%, -50%);
}

.contenitorelogo > img{
  width: 100%;
  height: 100%;
}

.navright{
  width:46%;
  height:100%;
  padding-left:2%;
  padding-right:2%;
}

.navleft{
  width:40%;
  height:100%;
  background-color:red;
}

ul > li {
  display: inline-block;
  color: white;
  font-size: 10px;
  font-weight: bold;
  height: 100px;
  line-height: 100px;
  text-align: center;
  padding-left: 8px;
}

h1{
  color: white;
  font-size: 50px;
  margin-left: 10%;
  margin-top: 10%;
}

.headerbutton{
  margin-left: 10%;
  margin-top: 2%;
  background-color: #4CAF50;
  border: none;
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 5px;
}



/* fine classi header e nav */

/* inizio classi main */

main{
  width: 100%;
  height: 700px;

}
.subheader{
  height: 200px;
  background-color:lightgray;
  position: relative;
}

.textsubheader{
  height: 50%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textsubheader > h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.textsubheader > div{
  text-align: center;
  color: darkgray;
  font-size: 25px;
}

.maxcontentcontainer{
  width: 80%;
  margin: 5% 10%;
}

.contentcontainer{
  width: 32%;
  height: 400px;
  background-color:white;
}

.middle{
  margin: 0% 2%;
}

.contentimage{
  width: 80%;
  margin: 0% 10%;
  height: 100px;
}

.contentimage > img{
  width: 100%;
  height: 100%;
}

.contentcontainer > h2{
  text-align: center;
}

.contentcontainer > p{
  text-align: center;
}

.horrule{
  border-bottom: 2px solid grey;
  width: 20%;
  margin: 5% 40%;
}

.prefooter{
  width: 80%;
  margin: 0% 10%;
  height:400px;
  border-top: 2px solid gray;
}

.block{
  width: 45%;
  height:100%;
  margin-top: 20px;
}

.block.left {
margin-right: 10%;
}

.block.left > img{
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.textcontainer{
  width: 63%;
  height: 100%;
  padding-top: 20px;
}

.textcontainer > h2{
  padding-bottom: 10px;
  font-size: 22px;
}

.textcontainer > p{
  padding-bottom: 10px;
}
/* fine classi main */

/* classi footer */
footer{
  margin-top: 20px;
  width: 100%;
  height: 100px;
  background-color: grey;
}

.foot{
  width: 50%;
  height: 100%;
  position: relative;
}

.foot.left > h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* fine classi footer */
/* fine classi elementi pagina */
